language: node_js

node_js:
   - "0.12"
   - "0.10"
   - "5"

env:
  global:
    - INT_COUCHDB_URL="http://localhost:5984/medic-analytics-test"

# Used by the replace_couch script
sudo: required

services:
   - couchdb

addons:
   postgresql: "9.4"

script:
   - grunt ci

notifications:
  webhooks:
    urls:
      - https://medic.slack.com/services/hooks/travis?token=xcYT8yusfEdSwLskhBxK4Vwj
    on_success: change
    on_failure: always
  email:
    recipients:
      - dev@medicmobile.org
